/* Reset & base */
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Share Tech", Arial, sans-serif;
  font-weight: 600;
  background-color: #121212;
  color: #f0f0f0;
  line-height: 1.6;
}
main {
  flex: 1; /* takes all remaining space */
  display: flex;
  flex-direction: column;
}

a {
  color: #dcdcdc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
